

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Header styles  starts*/
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;

}
header button{
    width: 228px;
    height: 58px;
}
header a{
    text-decoration: none;
    width: 180px;
    height: 24px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
}
header li{
    list-style: none;
}
header button{
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    margin-right: 166px;
}
header h4{
    width: 128px;
    height: 33px;
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-left: 150px;
}
/* Banner styles starts */
.banner{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/hero.png);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.banner-image{
    margin-top:40px
}

.banner-content{
    width: 998px;
    height: 212px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:left;
    margin-bottom:50px;
}
.banner-heading{
    color:rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}
.banner-description{
    color:rgb(13, 19, 33);
    font-size: 16px;
    font-weight:500;
}
.banner-btn{
     width: 208px;
     height: 66px;
     padding-top: 18px;
     padding-bottom: 18px;
     font-size: 20px;
     font-weight: 600;
     color:rgb(255, 255, 255);
     background-color:rgb(13, 19, 33);
     margin-top:30px;
     margin-bottom: 30px;
}
/* Development section starts */
.development{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
}
.development-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.title{
     font-size: 32px;
     font-weight: 800;
     color: rgb(13, 19, 33);
     margin-top: 30px;
}
.development-section-part1{
    width: 946px;
    height: 336px;
    margin:0 auto;
    display: flex;
    padding: 48px 48px;
}
.part1-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-bottom: 32px;
}
.part1-button{
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    margin-top: 32px;
}
.part1-button a{
    color: rgb(13, 19, 33);
    text-decoration: none;
}
.development-section-part2{
    width: 946px;
    height: 336px;
    margin:0 auto;
    display: flex;
    padding: 48px 48px;
    gap: 20px;
}
.part2-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-bottom: 32px;
}
.part2-button{
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    margin-top: 32px;
}
.part2-button a{
    color: rgb(13, 19, 33);
    text-decoration: none;
}
.development-section-part3{
    width: 946px;
    height: 336px;
    margin:0 auto;
    display: flex;
    padding: 48px 48px;
}
.part3-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-bottom: 32px; 
}
.part3-button{
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    margin-top: 32px;
}
.part3-button a{
    color: rgb(13, 19, 33);
    text-decoration: none;
}
/* Inspiration styles starts */
.inspiration{
    width: 1140px;
    height: 735px;
    margin: 0 auto;
    margin-top: 100px;
}
.text-content{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: 0 auto;
}
.text-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.video-content{
    width: 1140px;
    height: 614px;
    margin: 0 auto;
}
.video{
    width: 1076px;
    height: 550px;
    margin-top: 32px;
}
/* My target style starts */
.my-target{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 110px;
    
}
.target-text-content{
    width: 946px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
.target-text-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-top: 10px;
}
.target-text-content p{
    margin-top: 10px;
    color: rgb(13, 19, 33);
}
.cards{
    width: 1140px;
    height: 299px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    gap:15px
}
.card1{
    width: 364px;
    height: 299px;
    padding: 40px 40px;
}
.card2{
    width: 364px;
    height: 299px;
    padding: 40px 40px;
}
.card3{
    width: 364px;
    height: 299px;
    padding: 40px 40px;
}
.card1 h3{
    font-size: 24px;
    font-weight: 800;
}
.card2 h3{
    font-size: 24px;
    font-weight: 800;
}
.card3 h3{
    font-size: 24px;
    font-weight: 800;
}
.card1 a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}
.card2 a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}
.card3 a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}




